/* GENERAL */
html, body {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 1vh;
    background-color: black;
    border: 2px solid rgb(25, 214, 25);
    height: 98vh;
    margin-bottom: 1vh;
}

header {
    height: 5vh;
}

main {
    height: 94vh;
    overflow-y: auto;
}

footer {
    height: 2vh;
    position: sticky;
}

b, .text {
    color: white;
}

h1,h2,ul,ol,li,p {
    color: rgb(25, 214, 25);
}

a {
    color: rgb(25, 214, 25);
}

/* CLASSES */
.DEBUG  {
    background-color: white;
}

.form-text {
    color: rgb(25, 214, 25);
}

input[type=email], input[type=password] {
    border: none;
    border: 4px solid rgb(25, 214, 25);
    background-color: blue;
}

input[type=submit] {
    color: rgb(25, 214, 25);
    border: 4px solid rgb(25, 214, 25);
    background-color: blue;
}
input[type=submit]:hover {
    color: blue;
    border: 4px solid blue;
    background-color: rgb(25, 214, 25);
}

button {
    color: rgb(25, 214, 25);
    border: 4px solid rgb(25, 214, 25);
    background-color: blue;
}
button:hover {
    color: blue;
    border: 4px solid blue;
    background-color: rgb(25, 214, 25);
}

.msgAccueil {
    height: 5vh;
}

.errorMessage {
    color: red;
}

/* TABLEAU */
.tableContainer {
    overflow-x: auto;
}

table, tr, td {
    color: rgb(25, 214, 25);
}

.rowView {
    height: 10vh;
}

.blink_me {
    height: 5vh;
    animation: blinker 1s linear;
    animation-iteration-count: 3;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
}

.backofficeHeader {
    height: 5vh;
}

.spyapp {
    position: absolute;
    top: 45vh;
    left: 45vw;
    font-size: xx-large;
}
/* MODAL */
.modalBox {
    background-color: black;
    border: 2px solid rgb(25, 214, 25);
    color: rgb(25, 214, 25);
    height: 25vh;
    width: 70vw;
    position: absolute;
    top: 10vh;
    left: 15vw;
    overflow-y: auto;
    padding: 20px;
    overflow-x: auto;
}

.modalBox p {
    color: rgb(25, 214, 25);
}

.closeBtn {
    position: relative;
    top: 3%;
    left: 95%;
}

.messageBox {
    color: black;
}
